# Exports
export SBCL_HOME=/usr/lib/sbcl/

# Start light-locker 
light-locker &

# Start udiskie
# udiskie --tray &

# Start xbindkeys
# xbindkeys

# Use Caps-Lock as ESC
setxkbmap -option caps:escape

# Disable ghost inputs
xinput disable "SYNA3082:00 06CB:8265 Mouse"

# Start picom
picom -b

# System tray icons
#snixembed --fork
#iwgtk
